@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
    background:rgb(19, 136, 214);
    padding:3em;
    font-family: 'Raleway', 'Arial';
    color:white;
    width: 80%;
    margin-left: 8em;    
}

ul{
    padding-left: 5em;
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li{
    display: inline;
    margin-right: 30px;


    a{
        font-size: 1.5em;
    }

a{
    color:greenyellow;
    text-decoration: none;
    font-weight: bold;

    &:hover{
        color:aquamarine;
    }
}

}

