.container {
  display: grid;
  grid-template-columns: 50% auto;
  }

.col {
  padding: .4em 1.3em;
}

.color-dark {
  background: rgb(12, 58, 145);
}

.color-light {
  background: rgb(0, 162, 255);
}

input.txt {
  border: 0;
  padding: 1em;
  widows: 80%;
  margin-bottom: 2em;
 }

input.btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: greenyellow;
  color: indigo;
  margin-bottom: 1em;
}
